.icon {
    color: var(--title-color);
    margin-inline-end: .75rem;;
}

.address,
.phone {
    align-items: center;
    display: flex;
}

.address {
    align-items: start;
    margin-block-end: 1.5rem;
}

.phone span {
    color: var(--font-color);
    font-weight: 400;
}

.version {
    font-weight: 200;
}