* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-inline-start: 100px;
  min-height: 100vh;
  padding: 1.5rem;
}

.main {
  flex-grow: 1;
}

@media all and (min-width: 1024px) {

  .content {
    margin-inline-start: 280px;
  }
}