.main {
    margin-inline-start: 280px;
    padding: 1.5rem 0;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 1.8rem;
}

.header > *:nth-child(2) {
    margin-inline-start: auto;
}

.title {
    font-size: 1.8rem;
    text-transform: uppercase;
}