.nav {
    background-color: #fff;
    inset-inline-start: 0;
    height: 100vh;
    overflow: auto;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    width: 100px;
}

.logo {
    margin-block-end: 3rem;
    width: 75%;
}

.block {
    margin-block-end: 1.5rem;
}

.menu__title {
    display: none;
    margin-block-end: .375rem;
}

.nav__link {
    align-items: center;
    border-radius: 4px;
    color: var(--menuItem-color);
    display: flex;
    flex-grow: 1;
    margin-block-end: .375rem;
    min-height: 24px;
    padding: .375rem .75rem;
    transition: var(--default-transition);
}

.nav__link:hover {
    background-color: var(--accent-fade);
}

.nav__link.active:hover {
    background-color: var(--accent-color);
}

.active {
    background-color: var(--accent-color);
    color: #fff;
}

.icon {
    align-items: center;
    color: var(--menuItem-color);
    display: flex;
    font-size: 1.3rem;
    margin-inline-end: .75rem;
}

.nav__link.active .icon {
    color: #fff;
}

.txt {
    display: none;
}


@media (min-width: 640px) {

}

@media all and (min-width: 768px) {

}

@media (min-width: 1024px) {

    .nav {
        width: 280px;
    }

    .menu__title {
        display: block;
    }

    .txt {
        display: inline-block;
    }

    
}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {}